* {
  box-sizing: border-box;
}

body {
  font-family: "verdana";
}

.chat-room {
  background-color: #ddd;
}

.user-list,
.talking {
  float: left;
}

.user-list {
  width: 15%;
  background-color: #C5EBFF;
  min-height: 500px;
}

.user-list ul{
  list-style: none;
  padding: 0 0 0 10px;
}

.talking {
  width: 85%;
  min-height: 500px;
  padding: 15px;
}

.command-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.message-box {
  width: 90%;
  float: left;
}

.message-item {
  padding: 5px 0;
}

.message-item .person-name {
  padding: 0 5px;
  font-style: italic;
  font-weight: bold;
}